<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>RTF RPA</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark  " style="background-color: 	#006400;">
        <a class="navbar-brand" href="#">RTF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/usuarios">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro">Crear usuarios</a>
            </li>
          
          
          </ul> 
        </div>
      </nav>
      <div id="EditModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header " style="background-color: 	#006400;">
                    <h4 class="modal-title text-white ">Editar usuario </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="container">
                      <label  for="input-documento" class="col-5">Documento</label>
                      <input type="email" class="input-documento  col-5"  placeholder="Ingrese documento" name="documento" required>
                     </div>
                     <div class="container">
                     <label  for="input-nombre" class="col-5">Nombre</label>
                     <input type="text" class="input-nombre col-5" placeholder="Nombre" name="nombre">
                     </div>
                     <div class="container">
                     <label  for="InputApellido " class="col-5">Apellidos</label>
                     <input type="text" class="input-apellido col-5"placeholder="Apellidos" name="apellidos">
                     </div>
                     <div class="container">
                      <label  for="InputEmail" class="col-5">Email</label>
                      <input type="email" class="input-email col-5"  placeholder="Email" name="email">
                
                     </div>
                  </div>
                     
      
                      <div class="container">

                     <button type="button" class="btn-editu  btn-primary">Editar</button>      
                     <button type="button" class=" btn-primary"  data-dismiss="modal">Cancel</button>
                      </div>
                
      
                   
                </div>

            </div>
        </div>
    </div>
    <div id="DeleteModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" role="content">
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header " style="background-color: 	#006400;">
                  <h4 class="modal-title text-white ">Eliminar Usuario </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="container">
                    <label  for="input-documento" class="col-5">Documento</label>
                    <input type="text" class="input-documento-delete  col-5"  placeholder="Ingrese documento" name="documento" required>
                   </div>
                    
                   </div>
                </div>          
  
    
                    <div class="container">
                   <button type="button" class="btn-deleteu  btn-primary">Eliminar</button>      
                   <button type="button" class=" btn-primary"  data-dismiss="modal">Cancel</button>
                    </div>
              
    
                 
              </div>

          </div>
      </div>
  </div>
    <h2 class="col-12 offset-5 mt-5"> Usuarios </h2>
    <div class="container mt-5">
      <button id="update-button" class="btn btn-primary mb-5 ">Editar usuario</button>
      <button id="delete-button" class="btn btn-primary mb-5 ">Eliminar usuario</button>
      <div class="mensaje">
                       
      </div> 
    </div>
   <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="card ">
    
        <% for(let i = 0; i < results.length; i++) {%>
         
            <h5 class="card-header  text-white " style="background-color: 	#006400;">Usuario Número: <%= i %></h5>
          <div class="card-body">
            <h5 class="card-title">Nombre completo:</h5>
            <p class="card-text"><%= results[i].nombre %> <%= results[i].apellidos %></p>
            
          </div>
          <div class="card-body">
            <h5 class="card-title">Email:</h5>
            <p class="card-text"><%= results[i].email %></p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Documento:</h5>
            <p class="card-text"><%= results[i].documento %></p>
          </div>
          <% } %> 
         
    
   </div>
      
   </div>
  </div>
</div>
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="./main.js"></script>
</body>

</html>